#sidebar-content {
  padding: 0 !important;
}

#sidebar-content ul {
  margin: 0 !important;
}

#wiki-body .markdown-body {
  padding: 0 !important;
}

@media all and (max-width: 600px) {                                                                                                                                                                                                                                             
  #wiki-sidebar, #wiki-body, #wiki-footer,
  .has-sidebar #wiki-body,
  .has-sidebar #wiki-sidebar,
  .has-sidebar #wiki-footer { clear:both; width:initial; float:none; }
  #wiki-body { margin-right: 0; }
  #wiki-content { margin: 0 10pt} 
}

